<div class="container" ng-controller="FriendController as ctrl">
<p>
<p>
<p>
<p>
<p>
<p>



<div class="form-group has-feedback"></div>
search for friend

<p><input type="text" ng-model="ctrl.friend.friendname"></p>

<div ng-repeat="friend in ctrl.friends | filter:ctrl.friend.friendname">
<fieldset>
<legend>

</legend>
<p>Name:{{friend.friendname}} &nbsp;&nbsp;&nbsp;&nbsp; status:{{friend.request_status}}
<a href="#/chat">send message</a>
</p>
</fieldset>
</div>

</div>